 
<html>
	<head>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<title>Heart Disease Test</title>


		<style>
		
			/* Add styles to the form container */
			.bgcolor1 {
			  	background-image: url({{ url_for('static',filename='heart3.jpg') }});
			  	  background-repeat: no-repeat;
                  background-size: 100%;    
  			}
			
			.bgcolor2 {
			  background-color: white;	  
			}
			

			.bgcolor3 {
			  background-color: red;
			}
			
	     					     
			 .button {
				background-color: #FF0000;
				border: none;
				box-shadow: 1px 1px 3px #4F0000;
				color: white;
				padding: 5px 20px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 16px;
				margin: 0;
                position: absolute;
                top: 95%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
  					      }

/*			<input class="btn btn-primary" type="submit" value="Analyze">
*/


		</style>

	</head>


	<body class="bgcolor1">
	<!-- Java Script -->	
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

		 
		<!-- Navbar-->

		<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h1">Heart Disease Prediction</span>
		</nav>

		
		<div class="container">
			<br>
			<!--Form-->
			<form method ="POST" >
				<fieldset class="bgcolor3">

                <input id="csrf_token" name="csrf_token" type="hidden" value="IjllZDczMGE4ZDc2OGJlOGVkOGVhNDEwZWYzZTY1ZjhlNTc0ZjJiNGQi.YKykIA.C8briHxUnLmasy9Pem33N2wt7ew">

				<p style="color:white; font-size:35px; background-color: red">
					Heart Disease Test Form
				</p> 
				<br>
				  <div class="bgcolor2" >
					  <div class="form-group  row">
						<div class="col-sm-3">
							<label for="age">Age</label>
							<input type="number" class="form-control" id="age" name="age" required="required" placeholder="Range: 1-120">
						</div>
						<div class="col-sm-3">
							<label for="sex">Sex</label>
							<select class="form-control" id="sex"  name="sex" required>
							  <option disabled selected value> -- Select an Option -- </option>
							  <option value = "0">Female</option>
							  <option value = "1">Male</option>
							</select>
					   </div>
					  </div>
					  <br>
					  <div class="form-group  row">
						  <div class="col-sm">
							<label for="cp">Chest Pain Type</label>
							<select class="form-control" id="cp" name = "cp" required>
							  <option disabled selected value> -- Select an Option -- </option>
							  <option value = "0">Typical Angina</option>
							  <option value = "1">Atypical Angina</option>
							  <option value = "2">Non-anginal Pain</option>
							  <option value = "3">Asymptomatic</option>
							</select>
						  </div>
						  <div class="col-sm">
							<label for="trestbps">Resting Blood Pressure in mm Hg</label>
							<input type="number" class="form-control" id="trestbps" name="trestbps"  required="required" placeholder="Range: 70-200">
						  </div>
						  <div class="col-sm">
							<label for="chol">Serum Cholestoral in mg/dl</label>
							<input type="number" class="form-control" id="chol" name="chol" required="required" placeholder="Range: 100-500">
						  </div>
						  <div class="col-sm">
							<label for="fbs">Is Your Fasting Blood Sugar > 120 mg/dl?</label>
							<select class="form-control" id="fbs" name="fbs" required>
							  <option disabled selected value> -- Select an Option -- </option>
							  <option value = "0">No</option>
							  <option value = "1">Yes</option>
							</select>
						</div>
					  </div>
					  
					  <br>
					  <div class="form-group row">
							<div class="col-sm">
								<label for="restecg">Resting ECG Results </label>
								<select class="form-control" id="restecg" name="restecg" required>
								  <option disabled selected value> -- Select an Option -- </option>
								  <option value = "0">Normal</option>
								  <option value = "1">Having ST-T wave abnormality  </option>
								  <option value = "2"> Probable or definite left ventricular hypertrophy  </option>
								</select>
							  </div>
							  <div class="col-sm">
								<label for="thalach">Maximum Heart Rate</label>
								<input type="number" class="form-control" id="thalach" name="thalach" required="required" placeholder="Range: 70-250">
							  </div>
							  <div class="col-sm">
								<label for="oldpeak">ST Depression Induced</label>
								<input type="number" step="any" class="form-control" id="oldpeak" name="oldpeak" required="required" placeholder="Range: 0-7.0">
							  </div>
							  <div class="col-sm">
								<label for="exang">Exercise Induced Angina </label>
								<select class="form-control" id="exang" name="exang" required>
								  <option disabled selected value> -- Select an Option -- </option>
								  <option value = "0">No</option>
								  <option value = "1">Yes</option>
								</select>
							  </div>
						  </div>
						  <br>
						  <div class="form-group  row">
						  <div class="col-sm-3">
							<label for="slope">Slope of the Peak Exercise ST Segment </label>
							<select class="form-control" id="slope" name="slope" required>
							  <option disabled selected value> -- Select an Option -- </option>
							  <option value = "0">Upsloping</option>
							  <option value = "1">Flat</option>
							  <option value = "2">Downsloping</option>
							</select>
						  </div>
						  <div class="col-sm-3">
							<label for="ca">Number of Unclogged Major Vessels</label>
							<select class="form-control" id="ca" name = "ca" required>
							  <option disabled selected value> -- Select an Option -- </option>
							  <option value = "0">0</option>
							  <option value = "1">1</option>
							  <option value = "2">2</option>
							  <option value = "3">3</option>
							  <option value = "4">4</option>
							</select>
						  </div>
						  <div class="col-sm-3">

							<label for="thal">Thalassemia &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
							</label>

							<select class="form-control" id="thal" name = "thal" required>
							  <option disabled selected value> -- Select an Option -- </option>
							  <option value = "0">Null</option>
							  <option value = "1">Normal</option>
							  <option value = "2">Fixed defect</option>
							  <option value = "3">Reversable defect</option>
							</select>
						  </div>
					  </div>
					  <br>
					  <div class="form-group">
                        

						    <body>
						    <button class="button">Analyze</button>
						  </body>

                       
					  </div>
								
					 </div>
				     </div>
			 </fieldset>
			</form>
			
		</div>
		
	</body>
</html>
